spring:
  datasource:
    url: jdbc:postgresql://localhost:5436/product_db
    username: root
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  port: 8084
